@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("../public/images/bg.png");
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 27.58px;
}

header {
  width: 100%;
  height: 101px;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  color: #fff;
}

nav {
  width: inherit;
  max-width: 1820px;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.logo {
  margin-left: 1.5%;
}

nav ul {
  gap: 90px;
}

.nav-links-right {
  margin-left: auto;
  gap: 71px;
  margin-right: 0.15%;
}

.nav-link {
  font-family: "Raleway", system-ui;
  font-weight: 600;
  font-size: 24px;
  line-height: 28.18px;
  gap: 7px;
}

/* Slider */

.slider {
  height: 930px;
  background-image: url("../public/onair-slide-1\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: 70px;
  row-gap: 40px;
}

.slider-header {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 48px;
  line-height: 55.15px;
}

.sliderTrialBtn {
  background-color: #e13c52;
  width: 238px;
  height: 48px;
  border-radius: 60px;
  position: relative;
  top: 25px;
}

.slider-footer {
  position: absolute;
  bottom: -67.5px;
  left: 50%;
  transform: translate(-50%);
}

.slider-slides {
  width: 227px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  position: relative;
  top: 28.5px;
  gap: 15px;
}

.slider-slides li {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 50px;
  height: 4px;
  margin-right: 0;
  margin-left: 0;
  text-indent: -999px;
  background-color: rgba(255, 255, 255, 0.5);
  display: list-item;
  opacity: 0.5;
}

.slider-slides li:first-of-type {
  opacity: 1;
  background-color: #fff;
  position: relative;
}

.slider-slides li:active {
  background-color: #fff;
  opacity: 1;
}

.slider-slides li::before,
.slider-slides li::after {
  box-sizing: border-box;
}

/* Catalog */

#catalog {
  display: flex;
  flex-direction: column;
}

#catalog h1 {
  color: #fff;
  font-weight: 400;
  font-size: 32px;
  line-height: 36.77px;
  margin-left: 70px;
  margin-bottom: 35px;
}

/* Recommended channels */

#recommendedChannels {
  margin-top: 68px;
}

.channel_cont {
  width: 260px;
  height: 260px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.rec_channels_cont .channel_cont:nth-of-type(3) {
  transition: 0.3s;
  background-image: url('../public/images/rec-channel-3.png');
}

.rec_channels_cont .channel_cont:nth-of-type(3):hover {
  background-image: url('../public/images/rec-channel-3-changed.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-repeat: no-repeat;
  width: 482px;
  height: 444px;
}

/* ad_banner */

.ad_banner {
  display: flex;
  background-color: black;
  width: 728px;
  height: 90px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 36.77px;
  border: solid 1px #848484;
  align-self: flex-end;
  margin-top: 70px;
  margin-right: 70px;
}

/* New Channels */

#newChannels {
  margin-top: 68px;
  display: flex;
  flex-direction: column;
}

.newHeader {
  width: 413px;
  align-items: center;
  justify-content: space-between;
}

.viewAll {
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 30px;
}

.viewAllSpan {
  border-bottom: solid 1px #fff;
}

.new-channel_cont {
  width: 260px;
  height: 260px;
  cursor: pointer;
  background-repeat: no-repeat;
}

/* New Movies */

#newMovies {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.new-movie_cont {
  width: 231px;
  height: 348px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.new-movie_cont:nth-of-type(5) {
  background-image: url("../public/images/new-1-pop-3-movie.png");
}

/* Popular Movies */

#popMovies {
  margin-top: 68px;
}

.pop-movie_cont {
  width: 231px;
  height: 348px;
  cursor: pointer;
  background-repeat: no-repeat;
}

.pop-movie_cont:nth-of-type(7) {
  background-image: url("../public/images/new-1-pop-3-movie.png");
}

.pop-second-movie_cont {
  width: 231px;
  height: 348px;
  cursor: pointer;
  background-repeat: no-repeat;
  margin-top: 40px;
}

.pop-second-movie_cont:nth-of-type(5) {
  background-image: url("../public/images/new-1-pop-3-movie.png");
}